@{
    ViewBag.Title = "Contact";
}

<div class="connect2">
    <div>
        <h1>Connect with me!</h1>
    </div>
    <div class="connectlogos2">
        <a href="https://twitter.com/JeffsTechJobs"><img src="/images/twitterlogo.png" alt="Twitter" height="50"></a>
        <a href=@Html.Raw("https://medium.com/@jefflongo")> <img src="/images/mediumlogo.png" alt="Medium Blog" height="50"></a>
        <a href="https://www.linkedin.com/in/jeffplongo"> <img src="/images/linkedinlogo.png" alt="LinkedIn" height="50"></a>
        <a href="https://github.com/jeffreylongo"> <img src="/images/githubLogo.png" alt="GitHub" height="50"></a>
    </div>
    <div>
        <strong>Email:</strong>   <a href="jeffreylongo@knights.ucf.edu">JeffreyLongo@Knights.UCF.edu</a><br />
    </div>

</div>